<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= data[:title] %></title>
  </head>
  <body>
    <div id="content">
      <ul>
<% data[:files].each do |file| -%>
          <li><%= file %></li>
<% end -%>
      </ul>
    </div>
  </body>
</html>
